GCP_PUBSUB_TOPIC=projects/your-project-id/topics/your-topic-name
DRIVE_ID=your-google-shared-drive-id
GOOGLE_IMPERSONATE_EMAIL=user@yourdomain.com
SECRET_TOKEN_ID=gmailpubsub/google_token
S3_STATE_BUCKET=gmailpubsub-state
GMAIL_LABEL_IDS=Label_12345
ALERT_EMAIL_WHITELIST=alert@example.com
