# ID of Google Drive where folders will be created
DRIVE_ID=
# GCP PubSub Topic where messages will be published
GCP_PUBSUB_TOPIC=
# Node environment, usually "production"
NODE_ENV=

# Optional credentials for AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=