{
  "parser": "typescript",
  "printWidth": 120,
  "singleQuote": true,
  "endOfLine": "lf",
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "^@services/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true
}